/* HSL */
$color1: hsla(179%, 85%, 20%, 1);
$color2: hsla(340%, 9%, 94%, 1);
$color3: hsla(202%, 34%, 17%, 1);
$color4: hsla(2%, 51%, 58%, 1);
$color5: hsla(8%, 70%, 62%, 1);

/* RGB */
$color1: rgba(8, 96, 95, 1);
$color2: rgba(240, 237, 238, 1);
$color3: rgba(29, 48, 59, 1);
$color4: rgba(202, 96, 92, 1);
$color5: rgba(226, 109, 90, 1);
